.formacao {
  background-color: #141414;
  color: #fff;
}
.formacao-container {
  max-width: 75rem;
  padding: 6rem 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 7rem;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 3rem;
  max-width: 55ch;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #fff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 4rem;
}

.faculdade {
  background-color: #000;
  padding: 1.2rem;
  border-radius: 0.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 0.875rem;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.2rem;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 6rem;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -1.875rem;
  top: -0.25rem;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem;
    gap: 2rem;
  }

  .formacao .subtitulo {
    color: #fff;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
