.header {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}

.header-menu a {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  display: block;
  color: #141414;
}
.header img {
  max-width: 20rem;
}

@media (max-width: 870px) {
  .header {
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }
  .header a {
    background-color: #f5f5f5;
    border-radius: 0.25rem;
  }
}
