.introducao {
  max-width: 75rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 7rem;
  align-items: center;
}

.introducao img {
  /* transform: skewY(-15deg); */
  border-radius: 100%;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -1rem;
  left: -2.5rem;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 2rem;
    height: 1rem;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
